/instances/
/solutions/
/models/
/cache/
/build/
/output/
/notebooks/*.csv
*egg-info/
model.ilp

# Runner script
run.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
.env.bak/
.venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Pytest
.cache/

# --- C++ / CMake ---
# Ignore the build directory
build/
cpp_src/build/ # Being explicit is good

# tex build files
*.aux
*.log
*.out
*.xwm