/instances/
/solutions/
/models/
/cache/
/build/
*egg-info/
model.ilp

# Runner script
run.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
.env.bak/
.venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Pytest
.cache/
